################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sean.LinkedBookStore/.vs
/Sean.LinkedBookStore/Sean.LinkedBookStore/bin/Debug/net8.0
/Sean.LinkedBookStore/Sean.LinkedBookStore/obj
